div.selectors{
    display: grid;
    padding: 0.5rem 1rem;
    column-gap: 2rem;
    width: calc(100vw - 1rem);
    grid-template-columns: 60px 33% auto 33% 60px;
    align-items: center;
}

.selectors span{
    text-align: center;
}