div.selectors{
    display: grid;
    padding: 1rem 5rem;
    grid-template-columns: 40% 20% 40%;
}

select{
    width: 100%;
    background: none;
    border: none;
    font-size: 16px;
}

.selectors span{
    text-align: center;
}