#DRE > li{
    border-bottom: 1px solid #333;
}

strong{
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}

#DRE li:hover{
    background-color: #BBB;
}
#DRE li:hover ul{
    background-color: #DDD;
}
  
#DRE li {cursor: pointer;user-select: none}
.caret::before {
    content: "\25B6";
    color: black;
    display: inline-block;
    margin-right: 6px;
}
.caret-down::before {transform: rotate(90deg)}
.nested {display: none}
.active {display: block}